<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.videos.mapper.VideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qf.videos.pojo.Video">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="detail" property="detail" />
        <result column="time" property="time" />
        <result column="speaker_id" property="speakerId" />
        <result column="course_id" property="courseId" />
        <result column="video_url" property="videoUrl" />
        <result column="image_url" property="imageUrl" />
        <result column="play_num" property="playNum" />
        <association property="speaker" javaType="com.qf.videos.pojo.Speaker">
            <id column="sid" property="id"/>
            <result column="speaker_name" property="speakerName"/>
        </association>
        <association property="course" javaType="com.qf.videos.pojo.Course">
            <id column="cid" property="id"/>
            <result column="course_title" property="courseTitle"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, detail, time, speaker_id, course_id, video_url, image_url, play_num
    </sql>

    <select id="findAll" parameterType="string" resultMap="BaseResultMap">
        select video.id,
        video.title,
        video.time,
        video.video_url,
        video.image_url,
        speaker.speaker_name,
        video.play_num,
        course.course_title,
        video.detail
        from video
        inner join speaker on speaker.id = video.speaker_id
        inner join course on course.id = video.speaker_id
    </select>


</mapper>
